<h1 style="margin-left: 4rem">Algorithms</h1>

<p-organization-chart
  [value]="algorithms"
  selectionMode="single"
  [(selection)]="selectionAlgorithm"
/>

<div style="display: flex">
  <div style="margin-left: 4rem">
    <h3>Click on the desired label</h3>
    <table class="p-datatable p-component p-datatable-hoverable-rows">
      <tbody class="p-datatable-tbody">
        <tr *ngFor="let feature of featureDataKeys; let i = index">
          <td
            (click)="onFeatureClick(feature)"
            [ngStyle]="{
              backgroundColor: feature === selectedFeature ? '#064e3b' : ''
            }"
          >
            {{ feature }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
