<div style="display: grid; grid-template-columns: 25% 1fr">
  <div
    style="
      margin: 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-width: 12rem;
    "
  >
    <div>
      <h3>Algorithm Parameters</h3>
      <p-cascadeselect
        [(ngModel)]="selectedAlgorithm"
        [options]="allAlgorithms"
        optionLabel="algo_name"
        optionGroupLabel="type"
        [optionGroupChildren]="['algorithms']"
        [style]="{ minWidth: '14rem' }"
        placeholder="Select an Algorithm"
      ></p-cascadeselect>
    </div>

    <div>
      <h3>Label</h3>
      <p-select
        [options]="features"
        [(ngModel)]="selectedFeature"
        placeholder="Select a Label"
      />
    </div>
  </div>

  <div>
    <p-card header="Python Code"></p-card>
  </div>
</div>
