@if (filedata) { @if (metadata) {
<div id="metadata-card">
  <p-card header="Meta Data">
    <ng-container>
      <p-table [value]="metadata">
        <ng-template #body let-item>
          <tr>
            <td class="metadata-key">{{ "name" | uppercase }}</td>
            <td>{{ metadata[0].name }}</td>
          </tr>
          <tr>
            <td class="metadata-key">{{ "size" | uppercase }}</td>
            <td>{{ metadata[0].size }}</td>
          </tr>
          <tr>
            <td class="metadata-key">{{ "type" | uppercase }}</td>
            <td>{{ metadata[0].type }}</td>
          </tr>
          <tr>
            <td class="metadata-key">{{ "num_variables" | uppercase }}</td>
            <td>{{ metadata[0].num_of_variables }}</td>
          </tr>
          <tr></tr>
        </ng-template>
      </p-table>
    </ng-container>
  </p-card>
</div>
}

<div style="display: grid; grid-template-columns: 1fr 1fr">
  <p-card header="Feature Data" [style]="{ margin: '2rem' }">
    <p-select
      [options]="features"
      [(ngModel)]="selectedFeature"
      placeholder="Select a Feature"
      [style]="{ margin: '1rem 0' }"
      (onChange)="updateFeatureData()"
    >
    </p-select>
    <p-table [value]="featureDataKeys">
      <ng-template #body let-item let-rowIndex="rowIndex">
        <tr>
          <td class="featuredata-key">{{ item | uppercase }}</td>
          <td>{{ featureDataValues[rowIndex] }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <p-card header="Feature Data Unique Values" [style]="{ margin: '2rem' }">
    @if (chart_data_labels && chart_data_labels.length <= 5) {
    <p-chart
      type="pie"
      [data]="chart_data"
      [options]="options"
      class="w-full md:w-[30rem]"
    />} @else if(chart_data_labels && chart_data_labels.length <= 50) {
    <p-chart type="bar" [data]="chart_data" [options]="options" />
    } @else {
    <p>Too many unique values (>50)</p>
    }
  </p-card>
</div>
}
