@if (metadata) {
<div id="metadata-card">
  <p-card header="Meta Data">
    <ng-container>
      <p-table [value]="metadata">
        <ng-template #body>
          <tr>
            <td class="metadata-key">{{ "name" | uppercase }}</td>
            <td>{{ metadata[0].name }}</td>
          </tr>
          <tr>
            <td class="metadata-key">{{ "size" | uppercase }}</td>
            <td>{{ metadata[0].size }}</td>
          </tr>
          <tr>
            <td class="metadata-key">{{ "type" | uppercase }}</td>
            <td>{{ metadata[0].type }}</td>
          </tr>
          <tr>
            <td class="metadata-key">{{ "num_variables" | uppercase }}</td>
            <td>{{ metadata[0].num_of_variables }}</td>
          </tr>
          <tr></tr>
        </ng-template>
      </p-table>
    </ng-container>
  </p-card>
</div>
}
