<div class="grid-container">
  <app-data-menu></app-data-menu>
  <router-outlet></router-outlet>
  <!-- <app-chart
    class="item-large"
    [inputType]="'line'"
    [inputData]="[23, 41, 23, 5, 16, 3, 46, 23, 11]"
    [inputLabels]="[
      'Jan',
      'Feb',
      'Mar',
      'Apr',
      'May',
      'Jun',
      'Jul',
      'Aug',
      'Sep'
    ]"
  ></app-chart>
  <app-file-uploader class="item"></app-file-uploader>
  <p-button class="item" (onClick)="toggleDarkMode()">
    Switch to {{ isDarkMode ? "Light Mode" : "Dark Mode" }}
  </p-button> -->
</div>
